*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #262626;
}
h1{
    margin-bottom: 4%;
    color: #00b600;
    padding-bottom: 1%;
    border-bottom: 5px solid white;
}
.flag{
    position: relative;
    width: 600px;
    height: 400px;
    display: flex;
    justify-items: center;
    align-items: center;
    -webkit-box-reflect: below 15px linear-gradient(transparent,rgba(0,0,0,0.2));
}
.flag:before{
    content: "";
    position: absolute;
    width:100% ;
    height: 100%;
    background: darkgreen;
    border-left: 150px solid #fff;
    box-sizing: border-box;
    filter: url(#wavy);
}
svg{
    width: 0;
    height: 0;
}
.flag::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:50% ;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    filter: url(#wavy);

}
.flag img{
    position: relative;
    max-width: 180px;
    margin-left: 280px;
    z-index: 100;
}


.star {
    position: absolute;
    top: 50%;
    left: 67%;
    width: 44px;
    height: 44px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: fadeIn 1.5s ease-out forwards 1s;
}

.moon-container {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.moon {
    position: absolute;
    left: 53vh;
    width: 120%;
    height: 120%;
    background-color: darkgreen;
    border-radius: 99%;
    box-shadow: -18px 0 0 0 white;
    rotate: -40deg;
}

